<div class="wky-form-body wky-5f5f5fd1">
  <div class="wky-form-group">
    <label for="" class="wky-label-group">Organización</label>
    <p><input type="text" class="wky-input-group"></p>
  </div>
  <div class="wky-form-group">
    <label for="" class="wky-label-group">Correo Electrónico</label>
    <p><input type="email" class="wky-input-group"></p>
  </div>
  <div class="wky-form-group wky-5f5f5fd1">
    <label for="" class="wky-label-group">Contraseña</label>
    <p><input type="password" class="wky-input-group"></p>
  </div>
  <div class="wky-form-group wky-form-group-in50">
    <p class="">
      <label class="wky-container-radio ">Privada
        <input type="radio" checked="checked" name="radio">
        <span class="wky-checkmark-radio"></span>
      </label>
    </p>
    <p class="">
      <label class="wky-container-radio ">Publica
        <input type="radio" name="radio">
        <span class="wky-checkmark-radio"></span>
      </label>
    </p>
  </div>
  <div class="wky-form-group">
    <p>
      <label class="wky-container-checkbox wky-5f5f5fd1">Acepto las <a class="wky-not-link" class="wky-2abb9b">Condiciones</a>
        <input type="checkbox" checked="checked">
        <span class="wky-checkmark-checkbox"></span>
      </label>
    </p>

  </div>
</div>
