<header class="wky__header">
  <nav class="wky__icon_menu">
     <div>
        <a href="">
            <i class="fas fa-bars"></i>
        </a>
    </div>
  </nav>
   <nav class="wky__navbar">
        <div class="wky__nav_search">
            <div>
                <a href="">
                    <i class="fas fa-search"></i>
                </a>
                <span></span>
                <input type="text" placeholder="Buscar proudctos, organizacion y mas...">
                <a href="">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </div>
        <div>
            <a href="">
                <i class="fas fa-cart-plus"></i>
            </a>
        </div>
        <div>
            <a href="">
                <i class="fas fa-bell"></i>
            </a>
            <span class="wky__badge">2</span>
        </div>
        <div class="wky__nav_user">
            <img src="img/3.jpg" alt="">
             <span>Ciro Yupanqui</span>
        </div>
        <div>
            <a href="">
                <i class="fas fa-cog"></i>
            </a>
        </div>
   </nav>
</header>