<main>

    <div class="wky__space">

    </div>
    <div class="wky__content">
            <ul class="wky__steps">
                    <li class="wky__past">
                        <div>
                            <a href="">
                               
                                1
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="">
                                2
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="">
                                3
                            </a>
                        </div>
                    </li>
                    
                </ul>

                <router-outlet></router-outlet>
    </div>
</main>