
<div class="wky__session_container">
  <!-- wky row  -->
    <div class="wky__row">
      <div class="wky__box">
        <!-- wky box-header -->
        <div class="wky__box_header">
          <div class="wky__box_triangle_right">
          </div>
          <div class="wky__box_triangle_left">
          </div>
        </div> 
        <!-- end wky__box-header -->
        <div class="wky__form">
            
            <!-- wky__form-body -->
            <div class="wky__activate_border">
              Estimado Usuario: 
              <br />
              <br />
              Para continuar con el proceso de registro, es indispensable de click en la siguiente liga 
              <br>
              <br>
              <br>
              <a routerLink="/home/login" >Activar Cuenta</a>
            </div>
            <!-- end wky__form-body -->
  
        </div>
    
        <div class="wky__box_footer">
        </div>
    
      </div>
    </div>
  </div>
  