@import url("../node_modules/@fortawesome/fontawesome-free/css/all.css");
* {
    padding: 0;
    margin: 0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
html {
    --white_0: #ffffff;
    --white_1: #fdfdfd;
    --white_2: #fafafa;
    --black_0: #000000;
    --gray_0: #cfcfcf;
    --gray_1: #f7f8fa;
    --gray_3: #707070;
    --orange_0: #f4511e;
    --blue_5: #2e3a4d;
    --blue_0: #1193e9;
    --skyblue_0: #88c9f4;
    --yellow_0: #ffcb2b;
}
body::-webkit-scrollbar {
    width: 7px;
    background-color: rgb(0,0,0,0);
}
body::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset rgb(0,0,0,0); */
}
body::-webkit-scrollbar-thumb {
    background-color: var(--orange_0);
}

.wky__container {
    max-width: 1100px;
    margin: auto;
}
.wky__pages {
    background: var(--gray_1);
}
.wky__content {
    margin-left: 250px;
    position: relative;

}