<aside class="wky__sidebar">
  <div class="wky__logo_name">
      <img src="img/logo-light-icon.png" alt="">
      <span>WaKaYa</span>
  </div>
  <div class="wky__user">
      <img src="img/3.jpg" alt="">
      <span>Ciro Yupanqui</span>
      <span><i class="fas fa-chevron-right"></i></span>
  </div>
  <ul class="wky__menu">
      <li>
          <span class="icon"><i class="fab fa-adn"></i></span>
          <span>Dashboard</span>
      </li>
      <li>
          <span><i class="fab fa-adn"></i></span>
          <span>Historial</span>
      </li>
      <li>
          <span><i class="fab fa-adn"></i></span>
          <span>Organizaciones oficiales</span>
      </li>
      <li>
          <span><i class="fab fa-adn"></i></span>
          <span>Ofertas de la semana</span>
      </li>
      <li>
          <i class="fab fa-adn"></i>
          <span>Vender</span>
      </li>
      <li>
          <span><i class="fab fa-adn"></i></span>
          <span>Ayuda</span>
      </li>
      <li>
            <span><i class="fab fa-adn"></i></span>
            <span><a (click)="logout()">Cerrar Sesión</a> </span>
        </li>
  </ul>
</aside>
