<div class="wky__content">
    <div class="wky__card_left">
    
    </div>
    <div class="wky__cards_right">
        <div class="wky__row">
            <div class="wky__card">
                <div class="wky__card_body">
                    <img src="../../../assets/img/descarga.jpg" alt="">
                    <ul>
                        <li>
                            <span class="wky__card_badge">-10%</span>
                        </li>
                        <li>
                            <span class="wky__card_badge">Nuevo</span>
                        </li>
                    </ul>
                </div>        
                <div class="wky__card__footer">
                    <span class="wky__last_price">$ 69.00 </span>
                    <span class="wky__price"> $ 59.00 <span class="wky__decimal">99</span></span>
                    <div class="wky__card_content">
                    <p>Una breve descripcion acerca del producto expuesto</p>
                    <p class="wky__card_stars">
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                    </p>
                    <p>20 vendidos</p>
                </div>
                    <div class="wky__card_buttons">
                        <div><a href=""><i class="fas fa-star"></i></a></div>
                        <div><a href=""><i class="fas fa-plus"></i></a></div>
                        <div><a href=""><i class="fas fa-check"></i></a></div>
                    </div>
                </div>  
            </div>
            <div class="wky__card">
            <div class="wky__card_body">
                <img src="../../../assets/img/descarga.jpg" alt="">
                <ul>
                    <li><span class="wky__card_badge">-10%</span></li>
                    <li><span class="wky__card_badge">Nuevo</span></li>
                </ul>
            </div>        
            <div class="wky__card__footer">
                <span class="wky__last_price">$ 69.00 </span>
                <span class="wky__price"> $ 59.00 <span class="wky__decimal">99</span></span>
                <div class="wky__card_content">
                    <p>Una breve descripcion acerca del producto expuesto</p>
                    <p class="wky__card_stars">
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                    </p>
                    <p>20 vendidos</p>
                </div>
                <div class="wky__card_buttons">
                    <div><a href=""><i class="fas fa-star"></i></a></div>
                    <div><a href=""><i class="fas fa-plus"></i></a></div>
                    <div><a href=""><i class="fas fa-check"></i></a></div>
                </div>
            </div>  
        </div>
            <div class="wky__card">
            <div class="wky__card_body">
                <img src="../../../assets/img/descarga.jpg" alt="">
                <ul>
                    <li><span class="wky__card_badge">-10%</span></li>
                    <li><span class="wky__card_badge">Nuevo</span></li>
                </ul>
            </div>        
            <div class="wky__card__footer">
                <span class="wky__last_price">$ 69.00 </span>
                <span class="wky__price"> $ 59.00 <span class="wky__decimal">99</span></span>
                <div class="wky__card_content">
                    <p>Una breve descripcion acerca del producto expuesto</p>
                    <p class="wky__card_stars">
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                    </p>
                    <p>20 vendidos</p>
                </div>
                <div class="wky__card_buttons">
                    <div><a href=""><i class="fas fa-star"></i></a></div>
                    <div><a href=""><i class="fas fa-plus"></i></a></div>
                    <div><a href=""><i class="fas fa-check"></i></a></div>
                </div>
            </div>  
        </div>
        </div>
        <div class="wky__row">
            <div class="wky__card">
                <div class="wky__card_body">
                    <img src="../../../assets/img/descarga.jpg" alt="">
                    <ul>
                        <li>
                            <span class="wky__card_badge">-10%</span>
                        </li>
                        <li>
                            <span class="wky__card_badge">Nuevo</span>
                        </li>
                    </ul>
                </div>        
                <div class="wky__card__footer">
                    <span class="wky__last_price">$ 69.00 </span>
                    <span class="wky__price"> $ 59.00 <span class="wky__decimal">99</span></span>
                    <div class="wky__card_content">
                    <p>Una breve descripcion acerca del producto expuesto</p>
                    <p class="wky__card_stars">
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                    </p>
                    <p>20 vendidos</p>
                </div>
                    <div class="wky__card_buttons">
                        <div><a href=""><i class="fas fa-star"></i></a></div>
                        <div><a href=""><i class="fas fa-plus"></i></a></div>
                        <div><a href=""><i class="fas fa-check"></i></a></div>
                    </div>
                </div>  
            </div>
            <div class="wky__card">
            <div class="wky__card_body">
                <img src="../../../assets/img/descarga.jpg" alt="">
                <ul>
                    <li><span class="wky__card_badge">-10%</span></li>
                    <li><span class="wky__card_badge">Nuevo</span></li>
                </ul>
            </div>        
            <div class="wky__card__footer">
                <span class="wky__last_price">$ 69.00 </span>
                <span class="wky__price"> $ 59.00 <span class="wky__decimal">99</span></span>
                <div class="wky__card_content">
                    <p>Una breve descripcion acerca del producto expuesto</p>
                    <p class="wky__card_stars">
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                    </p>
                    <p>20 vendidos</p>
                </div>
                <div class="wky__card_buttons">
                    <div><a href=""><i class="fas fa-star"></i></a></div>
                    <div><a href=""><i class="fas fa-plus"></i></a></div>
                    <div><a href=""><i class="fas fa-check"></i></a></div>
                </div>
            </div>  
        </div>
            <div class="wky__card">
            <div class="wky__card_body">
                <img src="../../../assets/img/descarga.jpg" alt="">
                <ul>
                    <li><span class="wky__card_badge">-10%</span></li>
                    <li><span class="wky__card_badge">Nuevo</span></li>
                </ul>
            </div>        
            <div class="wky__card__footer">
                <span class="wky__last_price">$ 69.00 </span>
                <span class="wky__price"> $ 59.00 <span class="wky__decimal">99</span></span>
                <div class="wky__card_content">
                    <p>Una breve descripcion acerca del producto expuesto</p>
                    <p class="wky__card_stars">
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                    </p>
                    <p>20 vendidos</p>
                </div>
                <div class="wky__card_buttons">
                    <div><a href=""><i class="fas fa-star"></i></a></div>
                    <div><a href=""><i class="fas fa-plus"></i></a></div>
                    <div><a href=""><i class="fas fa-check"></i></a></div>
                </div>
            </div>  
        </div>
        </div>
        <div class="wky__row">
            <div class="wky__card">
                <div class="wky__card_body">
                    <img src="../../../assets/img/descarga.jpg" alt="">
                    <ul>
                        <li>
                            <span class="wky__card_badge">-10%</span>
                        </li>
                        <li>
                            <span class="wky__card_badge">Nuevo</span>
                        </li>
                    </ul>
                </div>        
                <div class="wky__card__footer">
                    <span class="wky__last_price">$ 69.00 </span>
                    <span class="wky__price"> $ 59.00 <span class="wky__decimal">99</span></span>
                    <div class="wky__card_content">
                    <p>Una breve descripcion acerca del producto expuesto</p>
                    <p class="wky__card_stars">
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                    </p>
                    <p>20 vendidos</p>
                </div>
                    <div class="wky__card_buttons">
                        <div><a href=""><i class="fas fa-star"></i></a></div>
                        <div><a href=""><i class="fas fa-plus"></i></a></div>
                        <div><a href=""><i class="fas fa-check"></i></a></div>
                    </div>
                </div>  
            </div>
            <div class="wky__card">
            <div class="wky__card_body">
                <img src="../../../assets/img/descarga.jpg" alt="">
                <ul>
                    <li><span class="wky__card_badge">-10%</span></li>
                    <li><span class="wky__card_badge">Nuevo</span></li>
                </ul>
            </div>        
            <div class="wky__card__footer">
                <span class="wky__last_price">$ 69.00 </span>
                <span class="wky__price"> $ 59.00 <span class="wky__decimal">99</span></span>
                <div class="wky__card_content">
                    <p>Una breve descripcion acerca del producto expuesto</p>
                    <p class="wky__card_stars">
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                    </p>
                    <p>20 vendidos</p>
                </div>
                <div class="wky__card_buttons">
                    <div><a href=""><i class="fas fa-star"></i></a></div>
                    <div><a href=""><i class="fas fa-plus"></i></a></div>
                    <div><a href=""><i class="fas fa-check"></i></a></div>
                </div>
            </div>  
        </div>
            <div class="wky__card">
            <div class="wky__card_body">
                <img src="../../../assets/img/descarga.jpg" alt="">
                <ul>
                    <li><span class="wky__card_badge">-10%</span></li>
                    <li><span class="wky__card_badge">Nuevo</span></li>
                </ul>
            </div>        
            <div class="wky__card__footer">
                <span class="wky__last_price">$ 69.00 </span>
                <span class="wky__price"> $ 59.00 <span class="wky__decimal">99</span></span>
                <div class="wky__card_content">
                    <p>Una breve descripcion acerca del producto expuesto</p>
                    <p class="wky__card_stars">
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                       <span><i class="fas fa-star"></i></span>
                    </p>
                    <p>20 vendidos</p>
                </div>
                <div class="wky__card_buttons">
                    <div><a href=""><i class="fas fa-star"></i></a></div>
                    <div><a href=""><i class="fas fa-plus"></i></a></div>
                    <div><a href=""><i class="fas fa-check"></i></a></div>
                </div>
            </div>  
        </div>
        </div>
    </div>
</div>